/* Maybe One Day You'll See the Light of Day */
body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right,#4557a5 45%, #33266d);
    background-size: cover;
    --title_color: #111522;
    --assignment_background: #99acc9;
    --a_color: #4d2d68;
    --p_color: #000000;
}

a {
    text-decoration: none;
    color: var(--a_color);

}

a:hover {
    color: #f2d5ea;
}

a h2 {
    color: inherit;
}

h1 {
    color: var(--title_color);
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: #381123;
}

.introduction {
    width: 75%;
    padding: 20px 20px;
    margin: 20px auto;
    background-color: var(--assignment_background);
    border-radius: 20px;
}

.assignment {
    width: 22%;
    padding: 20px 20px;
    margin: 10px;
    background-color: var(--assignment_background);
    border-radius: 20px;
}

.assignment img {
    width: 50%;
    height: auto;
    max-width: 200px;
    border: 2px solid #73294c;
    display: block;
    margin: auto;
}

.assignment img:hover {
    border: 2px solid #f2d5ea;
}

.assignments {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}


p {
    color: var(--p_color);
    font-size: large;
}
