/* Padding is inside border, margin is outside 
   Color Palettes can be found at https://color.adobe.com/explore
   Pure Colors can be found at https://www.w3schools.com/colors/colors_names.asp
   The settings are setting settily 
*/
body {
    background-color: #73294c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h1 {
    color:#bd82ac;
    text-align:center;
}

.assignments {
    display:flex;
}

.assignment {
    width:22%;
    padding:20px 10px;
    margin:10px;
    background-color:#bf6ba2;
    border-radius:10px;
}

.assignment img {
    width:200px;  
    border:2px solid #73294c;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border:2px solid #f2d5ea;
}

a {
    text-decoration:none;
    color: #4d2d68;
}

a:hover {
    color:#f2d5ea;
}

p {
    color:#381123;
}

h2 {
    text-align: center;
}


