#drop-area {
    padding: 40px;
    text-align: center;
    color: #b2a1b9;
    margin: 40px auto;
    width: auto;
    height: auto;
    border-radius: 10px;
}

#output {
    margin-top: 20px;
}

tbody th {
    height: 30vh;
}
