body {
    width:100vw;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
}

.introduction {
    width: 75%;
    padding: 20px 20px;
    margin: 20px auto;
    background-color: #c399c9;
    
    /*box-shadow: 10px 5px 5px #6c488a;*/
}

.assignment {
    width: 22vw;
    padding: 20px 20px;
    margin: 10px;
    
}

.assignment img {
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
}

.assignment img:hover {
    border: 2px solid #f2d5ea;
}

.assignments {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}


.assignment p {
    width: auto;
    text-overflow: clip;
    overflow-y: scroll;

}

h2 {
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
}