/*  Base Styles  */
body {
    background-color:#2f345b;
    color: #cdd7cc;
    font-size: larger;
    height: 100vh;
    width: 100vw;
}

/*  Table Styles  */
table {
    background-color: #7f7bb8;
    border: medium solid black;
    width: 80vh;
    height: 50vh;
    margin: 20vh auto;
    padding: 2vw;
}
tr th {
    color: #1f222b;
    padding: 10px; 
}

th:hover {
    color:#cdd7cc;
    cursor: pointer;
}

td {
    color: #1f222b;
    font-size: larger;
    padding: 10px;
    text-align: center;
}

/*  Box Styles  */
div {
    border: medium solid black;
}

div:hover {
    cursor: pointer;
    border:medium solid #cdd7cc;
}

td div {
    height: 20vh;
    width: 20vh;
    text-align: center;
}

/* Individual Box Colors */
#box1 {
    background-color:#E08CD9;
}
#box2 {
    background-color:#2EEA1A;
}
#box3 {
    background-color:#AA6686;
}
#box4 {
    background-color:#B84D4D;
}

/*  Button Styles  */
button {
    background-color: #83688f;
    color: #1f222b;
    font-size: large;
    height: 8vh;
    padding: 1vw;
}


button:hover {
    cursor:pointer;
    color:#cdd7cc;
}

/*  Paragraph Styles  */
p {
    text-align:center;
}