body {
    background-color:#2f345b;
    height: 100%;
    color:#cdd7cc;
    font-size: larger;
}
table {
    background-color: #7f7bb8;
    border: medium solid black;
    width: 80vh;
    height: 50vh;
    margin: 20vh auto;
    padding: 2vw;
}
tr th {
    color:#cdd7cc;
    padding: 10px; 
}
th:hover {
    color: #1f222b;
}
#box1 {
    border: medium solid black;
    background-color:#E08CD9;
}
#box2 {
    border: medium solid black;
    background-color:#2EEA1A;
}
#box3 {
    border: medium solid black;
    background-color:#AA6686;
}
#box4 {
    border: medium solid black;
    background-color:#B84D4D;
}

td div {
    height: 20vh;
    width: 20vh;
    text-align: center;
}
button {
    background-color: #83688f;
    color:#cdd7cc;
    font-size: large;
    height: 8vh;
    padding: 1vw;
}
p {
    text-align:center;
}