body {
    background-image: url('../images/backgrounds/mystars.webp');
    background-size: cover;
}

/*  Kitty Styles  */
#kitty:hover {
    cursor: pointer;
    color: #fff;
}

tbody {
    width: 70vw;
}



