

body {
    background-image: url('../images/myplanet.png');
    background-size: cover;
    position: relative;
}
h1 {
    color:#ca5b9c;
    text-shadow: 2px 2px #381123;
}

.assignment {
    background-color:#ca5b9c;
}

.assignment img {
    border:2px solid #73294c;
}

.assignment img:hover {
    border:2px solid #f2d5ea;
}

a {
    color: #4d2d68;
}

a:hover {
    color:#f2d5ea;
}

.assignment p {
    color:#381123;  
}
