

body {
    background-image: url('../images/myplanet.png');
    background-size: cover;
}
h1 {
    color:#ca5b9c;
    text-shadow: 2px 2px #381123;
    text-wrap: wrap;
}

.assignment img {
    border:2px solid #73294c;
}

.assignment img:hover {
    border:2px solid #f2d5ea;
}

a h3 {
    color:#ca5b9c;
    padding-bottom: 10px;
}

a:hover {
    color:#fcfcfc;
}

.assignment p {
    text-wrap: wrap;  
}

p {
    font-size: medium;
    height: 5vh;
}

.outer_table tbody {
    border-collapse: separate;
    justify-content: space-between;
}