.triangle, .square, .circle {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 0.8;
    
}

.triangle {
    background: linear-gradient(to right, #5f62ff, #56297a);
    top: 10px;
    left: 10px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    
    transform: rotate(85deg);
    z-index:-1;
    
}

.square {
    content: '';
    position: absolute;
    top: 35%;
    left: 35%;
    width: 600px;
    height: 600px;
    background: linear-gradient(to left, #b957ac, #7c2aac);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    z-index: -1;
}

.circle {
    background: repeating-conic-gradient(rgb(111, 209, 163) 5%, rgb(63, 192, 121) 10%);
    top: 20px;
    right: 20px;
    z-index: -1;
    clip-path: circle(50%);
}
