/* Padding is inside border, margin is outside 
   Color Palettes can be found at https://color.adobe.com/explore
   Pure Colors can be found at https://www.w3schools.com/colors/colors_names.asp
   The settings are setting settily 
*/
html,
body {
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.centered_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;

}

table {
    border-collapse: collapse;
    font-size: 0.8rem;
    letter-spacing: 1px;
    table-layout: fixed;
    overflow-x: hidden;
    height: auto;
    font-family: monospace;
    word-wrap: break-word;
}

th {

    padding: 0.5vh 1vw;
    height: auto;
    text-align: center;
    white-space: nowrap;
    word-wrap: break-word;
}

td {

    text-align: center;
    white-space: nowrap;
    word-wrap: break-word;
    padding: 0.1vh 0.1vw;
}

tr {
    background: rgba(0, 0, 0, 0.6);
    word-wrap: break-word;
}

th:empty,
td:empty {
    display: none;
}